* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: purple;
}

header {
    background-color: #f4f4f4;
    height: 66px;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    padding: 20px 0 0 30px;
}

.container {
    width: 375px;
    margin: 0 auto;
    margin-top: 100px;
}

form {
    background-color: white;
    padding: 20px 0 50px 30px;
}

label {
    font-weight: 400;
    position: relative;

}

.icon {
    width: 15px;
    height: 15px;
    position: absolute;
    top: calc(40px - 7px);
    right: calc(90% - 300px);
    color: green;
    display: none;
}

.icon.visible {
    display: block;
}
.icon-alert {
    width: 15px;
    height: 15px;
    position: absolute;
    top: calc(40px - 7px);
    right: calc(90% - 300px);
    color: red;
    display: none;

}
.icon-alert.visible {
    display: block;
}

input {
    display: block;
    margin-bottom: 20px;
    width: 90%;
    height: 40px;
    padding: 0 30px 0 10px;
    border: 2px solid black;
    border-radius: 2px;
}

.ativo {
    border-color: green;
}
input.invalid {
    border-color: red;
}
#input-password2 {
    margin-bottom: 3px;
}

#button-submit {
    width: 90%;
    height: 50px;
    font-weight: 400;
    color: white;
    background-color: purple;
    cursor: pointer;
    margin-top: 20px;

}

#button-submit:active {
    opacity: 0.7;
}